#m-6da250a2-1fb4-41e5-a32b-5d00b229fc16.master {
  transform: translate(0px,0px);
}
#m-6da250a2-1fb4-41e5-a32b-5d00b229fc16 #Path_49 {
  position: absolute;
  width: 13.055670738220215px;
  height: 18.974977493286133px;
}
#m-6da250a2-1fb4-41e5-a32b-5d00b229fc16 #Path_50 {
  position: absolute;
  width: 28.000259399414062px;
  height: 28.116535186767578px;
}
#m-6da250a2-1fb4-41e5-a32b-5d00b229fc16 #Path_51 {
  position: absolute;
  width: 19.000171661376953px;
  height: 19.076194763183594px;
}
#m-6da250a2-1fb4-41e5-a32b-5d00b229fc16 #Path_52 {
  position: absolute;
  width: 9.000070571899414px;
  height: 9.031373977661133px;
}
#m-6da250a2-1fb4-41e5-a32b-5d00b229fc16 #Path_53 {
  position: absolute;
  width: 4.000040054321289px;
  height: 4.0179290771484375px;
}
#m-6da250a2-1fb4-41e5-a32b-5d00b229fc16 #Path_54 {
  position: absolute;
  width: 4.000040054321289px;
  height: 4.0179290771484375px;
}
.m-6da250a2-1fb4-41e5-a32b-5d00b229fc16 #Path_52 {
  position: absolute;
  width: 9.000070571899414px;
  height: 9.031373977661133px;
}
.m-6da250a2-1fb4-41e5-a32b-5d00b229fc16 #Path_53 {
  position: absolute;
  width: 4.000040054321289px;
  height: 4.0179290771484375px;
}
.m-6da250a2-1fb4-41e5-a32b-5d00b229fc16 #Path_54 {
  position: absolute;
  width: 4.000040054321289px;
  height: 4.0179290771484375px;
}
.m-6da250a2-1fb4-41e5-a32b-5d00b229fc16 #Path_49 {
  position: absolute;
  width: 13.055670738220215px;
  height: 18.974977493286133px;
}
.m-6da250a2-1fb4-41e5-a32b-5d00b229fc16.master {
  transform: translate(0px,0px);
}
.m-6da250a2-1fb4-41e5-a32b-5d00b229fc16 #Path_50 {
  position: absolute;
  width: 28.000259399414062px;
  height: 28.116535186767578px;
}
.m-6da250a2-1fb4-41e5-a32b-5d00b229fc16 #Path_51 {
  position: absolute;
  width: 19.000171661376953px;
  height: 19.076194763183594px;
}
#loadMark-m-6da250a2-1fb4-41e5-a32b-5d00b229fc16 {
  width: 1px;
  visibility: hidden;
  display: none;
}
#m-6da250a2-1fb4-41e5-a32b-5d00b229fc16.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}