#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 > #backgroundBox {
  position: absolute;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Dynamic_panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Panel_2 {
  width: 375.0px;
  height: 643.248901903366px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Image_2 .imageViewport > * {
  width: 110.45548948760988%;
  height: 160.68433832315506%;
  left: -3.6319068746434326%;
  top: -40.456225548770036%;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Image_2 {
  position: absolute;
  width: 3165.0px;
  height: 1360.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Path_19 {
  position: absolute;
  width: 40.0px;
  height: 40.0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Path_20 {
  position: absolute;
  width: 14.5px;
  height: 14.5px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Path_21 {
  position: absolute;
  width: 58.00035095214844px;
  height: 57.99977111816406px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Path_22 {
  position: absolute;
  width: 40.0px;
  height: 39.99998474121094px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Mask_1 {
  position: absolute;
  width: 42.0px;
  height: 41.99998474121094px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Ellipse_1 {
  width: 54.0px;
  height: 53.99999999999997px;
  min-height: 53.99999999999997px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: rgba(217,217,217,0.0);
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.0px -0.0px 5px rgba(64,84,124,0.3));
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Ellipse_2 {
  width: 43.785378977989126px;
  height: 44.036023595617024px;
  min-height: 44.036023595617024px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Path_28 {
  position: absolute;
  width: 23.537796020507812px;
  height: 23.537796020507812px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Master_item_1 {
  position: absolute;
  width: 375.0px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Path_2 {
  position: absolute;
  width: 31.0px;
  height: 31.0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Path_11 {
  position: absolute;
  width: 31.999996185302734px;
  height: 31.999378204345703px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Path_10 {
  position: absolute;
  width: 31.0px;
  height: 27.125px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Path_18 {
  position: absolute;
  width: 22.85714340209961px;
  height: 20.0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Path_3 {
  position: absolute;
  width: 25.308242797851562px;
  height: 31.0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Path_9 {
  position: absolute;
  width: 31.0px;
  height: 24.799999237060547px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Path_4 {
  position: absolute;
  width: 30.999923706054688px;
  height: 31.0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Path_8 {
  position: absolute;
  width: 31.0px;
  height: 17.2186279296875px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Path_17 {
  position: absolute;
  width: 36.0px;
  height: 31.179101943969727px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Path_5 {
  position: absolute;
  width: 33.58332824707031px;
  height: 31.0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Path_7 {
  position: absolute;
  width: 41.379493713378906px;
  height: 31.0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Path_13 {
  position: absolute;
  width: 26.696447372436523px;
  height: 20.0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Path_16 {
  position: absolute;
  width: 36.0px;
  height: 28.802139282226562px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Path_6 {
  position: absolute;
  width: 29.555618286132812px;
  height: 31.294174194335938px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Path_12 {
  position: absolute;
  width: 26.5242919921875px;
  height: 31.28997802734375px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Rectangle_1 {
  position: absolute;
  width: 375.0px;
  min-height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #503926;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Rectangle_1 span#rtr-mi-a1bffa8c-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Content_grid_1 {
  position: absolute;
  width: 375.0px;
  height: 75.91666666666674px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_9 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_9 td.layout {
  padding: 0px 0px 10px 0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_9 .verticalalign {
  vertical-align: bottom;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_9 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_9 {
  width: 20.0%;
  height: 100.0%;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_9 .Cell_9 > *:last-child {
  margin-bottom: 0;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_9 .Cell_9 > * {
  margin-bottom: 7px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Path_14 {
  width: 27.12615966796875px;
  height: 32.0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Text_5 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Text_5 span {
  color: #DCE2F2;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Text_5 span#rtr-mi-a1bffa8c-Text_5_0 {
  color: #DCE2F2;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_10 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_10 td.layout {
  padding: 0px 0px 10px 0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_10 .verticalalign {
  vertical-align: bottom;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_10 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_10 {
  width: 20.0%;
  height: 100.0%;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_10 .Cell_10 > *:last-child {
  margin-bottom: 0;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_10 .Cell_10 > * {
  margin-bottom: 7px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Path_25 {
  width: 36.0px;
  height: 28.802139282226562px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Text_6 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Text_6 span {
  color: #DCE2F2;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Text_6 span#rtr-mi-a1bffa8c-Text_6_0 {
  color: #DCE2F2;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_11 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_11 td.layout {
  padding: 0px 0px 10px 10px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_11 .verticalalign {
  vertical-align: bottom;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_11 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_11 {
  width: 20.0%;
  height: 100.0%;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_11 .Cell_11 > *:last-child {
  margin-bottom: 0;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_11 .Cell_11 > * {
  margin-bottom: 7px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Path_15 {
  width: 32.0px;
  height: 17.774078369140625px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Text_7 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Text_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Text_7 span {
  color: #DCE2F2;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Text_7 span#rtr-mi-a1bffa8c-Text_7_0 {
  color: #DCE2F2;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_12 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_12 td.layout {
  padding: 0px 0px 10px 0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_12 .verticalalign {
  vertical-align: bottom;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_12 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_12 {
  width: 20.0%;
  height: 100.0%;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_12 .Cell_12 > *:last-child {
  margin-bottom: 0;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_12 .Cell_12 > * {
  margin-bottom: 7px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Path_26 {
  width: 32.0px;
  height: 25.600000381469727px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Text_8 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Text_8 span {
  color: #DCE2F2;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Text_8 span#rtr-mi-a1bffa8c-Text_8_0 {
  color: #DCE2F2;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_13 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_13 td.layout {
  padding: 0px 10px 10px 0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_13 .verticalalign {
  vertical-align: bottom;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_13 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_13 {
  width: 20.0%;
  height: 100.0%;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_13 .Cell_13 > *:last-child {
  margin-bottom: 0;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Cell_13 .Cell_13 > * {
  margin-bottom: 7px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Path_27 {
  width: 31.999996185302734px;
  height: 31.999378204345703px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Text_9 {
  width: 72.177490234375px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Text_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Text_9 span {
  color: #DCE2F2;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Text_9 span#rtr-mi-a1bffa8c-Text_9_0 {
  color: #DCE2F2;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Hotspot_2 {
  position: absolute;
  width: 62.0px;
  height: 54.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Hotspot_3 {
  position: absolute;
  width: 45.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Hotspot_5 {
  position: absolute;
  width: 65.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Hotspot_4 {
  position: absolute;
  width: 71.0px;
  height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #mi-a1bffa8c-Hotspot_6 {
  position: absolute;
  width: 35.0px;
  height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Rectangle_5 {
  position: absolute;
  width: 375.0px;
  min-height: 229.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 40.0px;
  border-top-right-radius: 40.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #503926;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Rectangle_5 > .borderLayer {
  border-top-left-radius: 40.0px;
  border-top-right-radius: 40.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 40.0px;
  border-top-right-radius: 40.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Text_3 {
  position: absolute;
  width: 158.99999999999977px;
  min-height: 73.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Text_3 span {
  color: #DCE2F2;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #DCE2F2;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Text_3 span#rtr-s-Text_3_1 {
  color: #73B2D9;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Text_3 span#rtr-s-Text_3_2 {
  color: #73B2D9;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 600;
  text-transform: none;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Text_3 span#rtr-s-Text_3_3 {
  color: #73B2D9;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Text_3 span#rtr-s-Text_3_4 {
  color: #73B2D9;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 600;
  text-transform: none;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Text_3 span#rtr-s-Text_3_5 {
  color: #73B2D9;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Text_4 {
  position: absolute;
  width: 158.99999999999977px;
  min-height: 33.4462165832515px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Text_4 span {
  color: #F6FAF9;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #F6FAF9;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Path_24 {
  position: absolute;
  width: 36.048683166503906px;
  height: 36.0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Path_30 {
  position: absolute;
  width: 16.20001220703125px;
  height: 16.117950439453125px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Path_29 {
  position: absolute;
  width: 50.00050354003906px;
  height: 50.22410202026367px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Mask_2 {
  position: absolute;
  width: 52.00050354003906px;
  height: 52.22410202026367px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Line_1 {
  position: absolute;
  width: 136.0px;
  height: 6.0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Rectangle_2 {
  position: absolute;
  width: 375.0px;
  min-height: 55.00000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #503926;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Rectangle_2 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Text_2 {
  position: absolute;
  width: calc(100.0% - 0.0px - 0.0px);
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Text_2 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Text_2 span {
  color: #F6FAF9;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 28px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #F6FAF9;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 28px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Image_4 {
  position: absolute;
  width: 22.0px;
  height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Text_1 {
  position: absolute;
  width: 58.71875px;
  min-height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Text_1 span {
  color: #73B2D9;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #73B2D9;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 #s-Hotspot_1 {
  position: absolute;
  width: 65.01000213623036px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7fc7ef10-8bc8-4427-a198-4c1adbddc794 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}