#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55.master {
  transform: translate(0px,0px);
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_1 {
  position: absolute;
  width: 31.0px;
  height: 31.0px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_11 {
  position: absolute;
  width: 31.999996185302734px;
  height: 31.999378204345703px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_10 {
  position: absolute;
  width: 31.0px;
  height: 27.125px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_18 {
  position: absolute;
  width: 22.85714340209961px;
  height: 20.0px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_2 {
  position: absolute;
  width: 25.308242797851562px;
  height: 31.0px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_9 {
  position: absolute;
  width: 31.0px;
  height: 24.799999237060547px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_3 {
  position: absolute;
  width: 30.999923706054688px;
  height: 31.0px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_8 {
  position: absolute;
  width: 31.0px;
  height: 17.2186279296875px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_17 {
  position: absolute;
  width: 36.0px;
  height: 31.179101943969727px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_4 {
  position: absolute;
  width: 33.58332824707031px;
  height: 31.0px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_7 {
  position: absolute;
  width: 41.379493713378906px;
  height: 31.0px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_13 {
  position: absolute;
  width: 26.696447372436523px;
  height: 20.0px;
  cursor: pointer;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_16 {
  position: absolute;
  width: 36.0px;
  height: 28.802139282226562px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_5 {
  position: absolute;
  width: 29.555618286132812px;
  height: 31.294174194335938px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_6 {
  position: absolute;
  width: 26.5242919921875px;
  height: 31.28997802734375px;
  cursor: pointer;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Rectangle_1 {
  position: absolute;
  width: 375.0px;
  min-height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #503926;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Rectangle_1 span#rtr-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Content_grid_1 {
  position: absolute;
  width: 375.0px;
  height: 75.91666666666674px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_9 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_9 td.layout {
  padding: 0px 0px 10px 0px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_9 .verticalalign {
  vertical-align: bottom;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_9 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_9 {
  width: 20.0%;
  height: 100.0%;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_9 .Cell_9 > *:last-child {
  margin-bottom: 0;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_9 .Cell_9 > * {
  margin-bottom: 7px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_12 {
  width: 27.12615966796875px;
  height: 32.0px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_1 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_1 span {
  color: #DCE2F2;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_1 span#rtr-Text_1_0 {
  color: #DCE2F2;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_10 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_10 td.layout {
  padding: 0px 0px 10px 0px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_10 .verticalalign {
  vertical-align: bottom;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_10 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_10 {
  width: 20.0%;
  height: 100.0%;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_10 .Cell_10 > *:last-child {
  margin-bottom: 0;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_10 .Cell_10 > * {
  margin-bottom: 7px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_20 {
  width: 36.0px;
  height: 28.802139282226562px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_2 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_2 span {
  color: #DCE2F2;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_2 span#rtr-Text_2_0 {
  color: #DCE2F2;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_11 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_11 td.layout {
  padding: 0px 0px 10px 10px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_11 .verticalalign {
  vertical-align: bottom;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_11 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_11 {
  width: 20.0%;
  height: 100.0%;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_11 .Cell_11 > *:last-child {
  margin-bottom: 0;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_11 .Cell_11 > * {
  margin-bottom: 7px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_14 {
  width: 32.0px;
  height: 17.774078369140625px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_3 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_3 span {
  color: #DCE2F2;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_3 span#rtr-Text_3_0 {
  color: #DCE2F2;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_12 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_12 td.layout {
  padding: 0px 0px 10px 0px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_12 .verticalalign {
  vertical-align: bottom;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_12 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_12 {
  width: 20.0%;
  height: 100.0%;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_12 .Cell_12 > *:last-child {
  margin-bottom: 0;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_12 .Cell_12 > * {
  margin-bottom: 7px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_15 {
  width: 32.0px;
  height: 25.600000381469727px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_4 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_4 span {
  color: #DCE2F2;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_4 span#rtr-Text_4_0 {
  color: #DCE2F2;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_13 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_13 td.layout {
  padding: 0px 10px 10px 0px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_13 .verticalalign {
  vertical-align: bottom;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_13 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_13 {
  width: 20.0%;
  height: 100.0%;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_13 .Cell_13 > *:last-child {
  margin-bottom: 0;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_13 .Cell_13 > * {
  margin-bottom: 7px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_19 {
  width: 31.999996185302734px;
  height: 31.999378204345703px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_5 {
  width: 72.177490234375px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_5 span {
  color: #DCE2F2;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_5 span#rtr-Text_5_0 {
  color: #DCE2F2;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Hotspot_2 {
  position: absolute;
  width: 62.0px;
  height: 54.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Hotspot_3 {
  position: absolute;
  width: 45.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Hotspot_5 {
  position: absolute;
  width: 65.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Hotspot_4 {
  position: absolute;
  width: 71.0px;
  height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Hotspot_1 {
  position: absolute;
  width: 35.0px;
  height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_11 .verticalalign {
  vertical-align: bottom;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_6 {
  position: absolute;
  width: 26.5242919921875px;
  height: 31.28997802734375px;
  cursor: pointer;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_2 {
  position: absolute;
  width: 25.308242797851562px;
  height: 31.0px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_13 {
  position: absolute;
  width: 26.696447372436523px;
  height: 20.0px;
  cursor: pointer;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_3 {
  position: absolute;
  width: 30.999923706054688px;
  height: 31.0px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_1 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_11 .Cell_11 > *:last-child {
  margin-bottom: 0;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Hotspot_4 {
  position: absolute;
  width: 71.0px;
  height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_15 {
  width: 32.0px;
  height: 25.600000381469727px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_12 .verticalalign {
  vertical-align: bottom;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_5 span {
  color: #DCE2F2;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_2 span#rtr-Text_2_0 {
  color: #DCE2F2;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_14 {
  width: 32.0px;
  height: 17.774078369140625px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_9 {
  position: absolute;
  width: 31.0px;
  height: 24.799999237060547px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Rectangle_1 {
  position: absolute;
  width: 375.0px;
  min-height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_12 {
  width: 27.12615966796875px;
  height: 32.0px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_13 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_10 {
  width: 20.0%;
  height: 100.0%;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_13 td.layout {
  padding: 0px 10px 10px 0px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_9 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_11 td.layout {
  padding: 0px 0px 10px 10px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_10 td.layout {
  padding: 0px 0px 10px 0px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_2 span {
  color: #DCE2F2;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_12 td.layout {
  padding: 0px 0px 10px 0px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_5 {
  width: 72.177490234375px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_13 {
  width: 20.0%;
  height: 100.0%;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Hotspot_5 {
  position: absolute;
  width: 65.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Hotspot_1 {
  position: absolute;
  width: 35.0px;
  height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_10 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_1 span#rtr-Text_1_0 {
  color: #DCE2F2;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_13 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_11 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_5 {
  position: absolute;
  width: 29.555618286132812px;
  height: 31.294174194335938px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_12 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_10 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_10 {
  position: absolute;
  width: 31.0px;
  height: 27.125px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Content_grid_1 {
  position: absolute;
  width: 375.0px;
  height: 75.91666666666674px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_5 span#rtr-Text_5_0 {
  color: #DCE2F2;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_5 .valign {
  vertical-align: middle;
  text-align: center;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_8 {
  position: absolute;
  width: 31.0px;
  height: 17.2186279296875px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_12 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_9 .Cell_9 > *:last-child {
  margin-bottom: 0;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_10 .Cell_10 > *:last-child {
  margin-bottom: 0;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_3 .valign {
  vertical-align: middle;
  text-align: center;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_9 td.layout {
  padding: 0px 0px 10px 0px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_3 span {
  color: #DCE2F2;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_11 {
  width: 20.0%;
  height: 100.0%;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_17 {
  position: absolute;
  width: 36.0px;
  height: 31.179101943969727px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_9 .verticalalign {
  vertical-align: bottom;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_2 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_1 {
  position: absolute;
  width: 31.0px;
  height: 31.0px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Rectangle_1 span#rtr-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_9 {
  width: 20.0%;
  height: 100.0%;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_3 span#rtr-Text_3_0 {
  color: #DCE2F2;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_10 .verticalalign {
  vertical-align: bottom;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_18 {
  position: absolute;
  width: 22.85714340209961px;
  height: 20.0px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55.master {
  transform: translate(0px,0px);
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_11 {
  position: absolute;
  width: 31.999996185302734px;
  height: 31.999378204345703px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_13 .verticalalign {
  vertical-align: bottom;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_13 .Cell_13 > * {
  margin-bottom: 7px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_10 .Cell_10 > * {
  margin-bottom: 7px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_20 {
  width: 36.0px;
  height: 28.802139282226562px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_4 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_11 .Cell_11 > * {
  margin-bottom: 7px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_12 .Cell_12 > *:last-child {
  margin-bottom: 0;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Hotspot_2 {
  position: absolute;
  width: 62.0px;
  height: 54.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_7 {
  position: absolute;
  width: 41.379493713378906px;
  height: 31.0px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_9 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_11 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_1 span {
  color: #DCE2F2;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_4 span#rtr-Text_4_0 {
  color: #DCE2F2;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Hotspot_3 {
  position: absolute;
  width: 45.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #503926;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_19 {
  width: 31.999996185302734px;
  height: 31.999378204345703px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_16 {
  position: absolute;
  width: 36.0px;
  height: 28.802139282226562px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_4 span {
  color: #DCE2F2;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Path_4 {
  position: absolute;
  width: 33.58332824707031px;
  height: 31.0px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_13 .Cell_13 > *:last-child {
  margin-bottom: 0;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_3 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_12 .Cell_12 > * {
  margin-bottom: 7px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_9 .Cell_9 > * {
  margin-bottom: 7px;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Cell_12 {
  width: 20.0%;
  height: 100.0%;
}
.m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 #Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#loadMark-m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55 {
  width: 1px;
  visibility: hidden;
  display: none;
}
#m-1e59c586-2db3-4b0e-bdaa-13ac8e865f55.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}