@font-face {
  font-family: "Inter_13.0.0_google";
  src: url("../../../fonts/Inter-Regular_13.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Roboto_0.0.0_system";
  src: url("../../../fonts/Roboto-Regular.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Inter_13.0.0_google";
  src: url("../../../fonts/Inter-Regular_13.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Inter_13.0.0_google";
  src: url("../../../fonts/Inter-Semibold_13.0.0_google.ttf");
  font-weight: 600; 
}
@font-face {
  font-family: "Roboto_0.0.0_system";
  src: url("../../../fonts/Roboto-Regular.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Inter_13.0.0_google";
  src: url("../../../fonts/Inter-Regular_13.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Roboto_0.0.0_system";
  src: url("../../../fonts/Roboto-Regular.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Inter_13.0.0_google";
  src: url("../../../fonts/Inter-Regular_13.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Poppins_21.0.0_google";
  src: url("../../../fonts/Poppins-Regular_21.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Inter_13.0.0_google";
  src: url("../../../fonts/Inter-Regular_13.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Roboto_0.0.0_system";
  src: url("../../../fonts/Roboto-Regular.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Poppins_21.0.0_google";
  src: url("../../../fonts/Poppins-Regular_21.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Inter_13.0.0_google";
  src: url("../../../fonts/Inter-Regular_13.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Inter_13.0.0_google";
  src: url("../../../fonts/Inter-Regular_13.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Roboto_0.0.0_system";
  src: url("../../../fonts/Roboto-Regular.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Inter_13.0.0_google";
  src: url("../../../fonts/Inter-Regular_13.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Roboto_0.0.0_system";
  src: url("../../../fonts/Roboto-Regular.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Inter_13.0.0_google";
  src: url("../../../fonts/Inter-Regular_13.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Poppins_21.0.0_google";
  src: url("../../../fonts/Poppins-Regular_21.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Inter_13.0.0_google";
  src: url("../../../fonts/Inter-Regular_13.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Poppins_21.0.0_google";
  src: url("../../../fonts/Poppins-Regular_21.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Inter_13.0.0_google";
  src: url("../../../fonts/Inter-Regular_13.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Poppins_21.0.0_google";
  src: url("../../../fonts/Poppins-Regular_21.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Inter_13.0.0_google";
  src: url("../../../fonts/Inter-Regular_13.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Poppins_21.0.0_google";
  src: url("../../../fonts/Poppins-Regular_21.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Inter_13.0.0_google";
  src: url("../../../fonts/Inter-Regular_13.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Poppins_21.0.0_google";
  src: url("../../../fonts/Poppins-Regular_21.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Roboto_0.0.0_system";
  src: url("../../../fonts/Roboto-Regular.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Inter_13.0.0_google";
  src: url("../../../fonts/Inter-Regular_13.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Poppins_21.0.0_google";
  src: url("../../../fonts/Poppins-Regular_21.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Roboto_0.0.0_system";
  src: url("../../../fonts/Roboto-Regular.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Inter_13.0.0_google";
  src: url("../../../fonts/Inter-Regular_13.0.0_google.ttf");
  font-weight: 400; 
}