#m-62881520-8bbb-4284-96e6-711f50b04118.master {
  transform: translate(0px,0px);
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #Path_40 {
  position: absolute;
  width: 11.605040550231934px;
  height: 16.86664581298828px;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_8 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_8 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_8 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #Ellipse_8 {
  width: 23.999999999999943px;
  height: 24.00000000000003px;
  min-height: 24.00000000000003px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke: #A6A6A6;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_8 span#rtr-Ellipse_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_9 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_9 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_9 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #Ellipse_9 {
  width: 16.0px;
  height: 16.00000000000003px;
  min-height: 16.00000000000003px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke: #A6A6A6;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_9 span#rtr-Ellipse_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_10 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_10 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_10 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #Ellipse_10 {
  width: 7.111111111111086px;
  height: 7.1111111111111px;
  min-height: 7.1111111111111px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke: #A6A6A6;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_10 span#rtr-Ellipse_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_11 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_11 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_11 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #Ellipse_11 {
  width: 3.5555555555556566px;
  height: 3.555555555555543px;
  min-height: 3.555555555555543px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_11 > .backgroundLayer > .colorLayer {
  background-color: #707070;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_11 span#rtr-Ellipse_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_12 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_12 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_12 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #Ellipse_12 {
  width: 3.5555555555556566px;
  height: 3.555555555555543px;
  min-height: 3.555555555555543px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_12 > .backgroundLayer > .colorLayer {
  background-color: #707070;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_12 span#rtr-Ellipse_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_8 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #Path_40 {
  position: absolute;
  width: 11.605040550231934px;
  height: 16.86664581298828px;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_9 .valign {
  vertical-align: middle;
  text-align: center;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_9 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_8 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #Ellipse_12 {
  width: 3.5555555555556566px;
  height: 3.555555555555543px;
  min-height: 3.555555555555543px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #Ellipse_11 {
  width: 3.5555555555556566px;
  height: 3.555555555555543px;
  min-height: 3.555555555555543px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #Ellipse_9 {
  width: 16.0px;
  height: 16.00000000000003px;
  min-height: 16.00000000000003px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke: #A6A6A6;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_8 .valign {
  vertical-align: middle;
  text-align: center;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_9 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_12 span#rtr-Ellipse_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
.m-62881520-8bbb-4284-96e6-711f50b04118.master {
  transform: translate(0px,0px);
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_9 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_12 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_9 span#rtr-Ellipse_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_11 span#rtr-Ellipse_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_10 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_11 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_11 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_10 span#rtr-Ellipse_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_10 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_8 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_12 > .backgroundLayer > .colorLayer {
  background-color: #707070;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_12 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_11 > .backgroundLayer > .colorLayer {
  background-color: #707070;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_11 .valign {
  vertical-align: middle;
  text-align: center;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_10 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_12 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #Ellipse_10 {
  width: 7.111111111111086px;
  height: 7.1111111111111px;
  min-height: 7.1111111111111px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke: #A6A6A6;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_12 .valign {
  vertical-align: middle;
  text-align: center;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_10 .valign {
  vertical-align: middle;
  text-align: center;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_11 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_8 span#rtr-Ellipse_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #Ellipse_8 {
  width: 23.999999999999943px;
  height: 24.00000000000003px;
  min-height: 24.00000000000003px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke: #A6A6A6;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
.m-62881520-8bbb-4284-96e6-711f50b04118 #shapewrapper-Ellipse_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#loadMark-m-62881520-8bbb-4284-96e6-711f50b04118 {
  width: 1px;
  visibility: hidden;
  display: none;
}
#m-62881520-8bbb-4284-96e6-711f50b04118.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}