#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 > #backgroundBox {
  position: absolute;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Rectangle_1 {
  position: absolute;
  width: 375.00000000000017px;
  min-height: 565.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Path_1 {
  position: absolute;
  width: 184.0614776611328px;
  height: 118.05072021484375px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Dynamic_panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Panel_2 {
  width: 850.6900878293601px;
  height: 565.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Image_2 {
  position: absolute;
  width: 850.6900878293601px;
  height: 565.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Rectangle_3 {
  position: absolute;
  width: 375.0px;
  min-height: 55.00000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #503926;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Rectangle_3 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Text_3 {
  position: absolute;
  width: calc(100.0% - 0.0px - 0.0px);
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Text_3 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #503926;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Text_3 span {
  color: #F6FAF9;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 28px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #F6FAF9;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 28px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Image_1 {
  position: absolute;
  width: 22.0px;
  height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Text_2 {
  position: absolute;
  width: 58.71875px;
  min-height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Text_2 span {
  color: #68C4E3;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #68C4E3;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Hotspot_1 {
  position: absolute;
  width: 65.01000213623036px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Path_12 {
  position: absolute;
  width: 21.875px;
  height: 20.0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Path_44 {
  position: absolute;
  width: 19.045860290527344px;
  height: 16.36522102355957px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #s-Master_item_1 {
  position: absolute;
  width: 375.0px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Path_2 {
  position: absolute;
  width: 31.0px;
  height: 31.0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Path_11 {
  position: absolute;
  width: 31.999996185302734px;
  height: 31.999378204345703px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Path_10 {
  position: absolute;
  width: 31.0px;
  height: 27.125px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Path_18 {
  position: absolute;
  width: 22.85714340209961px;
  height: 20.0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Path_3 {
  position: absolute;
  width: 25.308242797851562px;
  height: 31.0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Path_9 {
  position: absolute;
  width: 31.0px;
  height: 24.799999237060547px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Path_4 {
  position: absolute;
  width: 30.999923706054688px;
  height: 31.0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Path_8 {
  position: absolute;
  width: 31.0px;
  height: 17.2186279296875px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Path_17 {
  position: absolute;
  width: 36.0px;
  height: 31.179101943969727px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Path_5 {
  position: absolute;
  width: 33.58332824707031px;
  height: 31.0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Path_7 {
  position: absolute;
  width: 41.379493713378906px;
  height: 31.0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Path_13 {
  position: absolute;
  width: 26.696447372436523px;
  height: 20.0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Path_16 {
  position: absolute;
  width: 36.0px;
  height: 28.802139282226562px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Path_6 {
  position: absolute;
  width: 29.555618286132812px;
  height: 31.294174194335938px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Path_14 {
  position: absolute;
  width: 26.5242919921875px;
  height: 31.28997802734375px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Rectangle_2 {
  position: absolute;
  width: 375.0px;
  min-height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #503926;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Rectangle_2 span#rtr-mi-80433c78-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Content_grid_1 {
  position: absolute;
  width: 375.0px;
  height: 75.91666666666674px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_9 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_9 td.layout {
  padding: 0px 0px 10px 0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_9 .verticalalign {
  vertical-align: bottom;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_9 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_9 {
  width: 20.0%;
  height: 100.0%;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_9 .Cell_9 > *:last-child {
  margin-bottom: 0;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_9 .Cell_9 > * {
  margin-bottom: 7px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Path_15 {
  width: 27.12615966796875px;
  height: 32.0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Text_1 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Text_1 span {
  color: #DCE2F2;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Text_1 span#rtr-mi-80433c78-Text_1_0 {
  color: #DCE2F2;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_10 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_10 td.layout {
  padding: 0px 0px 10px 0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_10 .verticalalign {
  vertical-align: bottom;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_10 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_10 {
  width: 20.0%;
  height: 100.0%;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_10 .Cell_10 > *:last-child {
  margin-bottom: 0;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_10 .Cell_10 > * {
  margin-bottom: 7px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Path_20 {
  width: 36.0px;
  height: 28.802139282226562px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Text_4 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Text_4 span {
  color: #DCE2F2;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Text_4 span#rtr-mi-80433c78-Text_4_0 {
  color: #DCE2F2;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_11 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_11 td.layout {
  padding: 0px 0px 10px 10px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_11 .verticalalign {
  vertical-align: bottom;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_11 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_11 {
  width: 20.0%;
  height: 100.0%;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_11 .Cell_11 > *:last-child {
  margin-bottom: 0;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_11 .Cell_11 > * {
  margin-bottom: 7px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Path_19 {
  width: 32.0px;
  height: 17.774078369140625px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Text_5 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Text_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Text_5 span {
  color: #DCE2F2;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Text_5 span#rtr-mi-80433c78-Text_5_0 {
  color: #DCE2F2;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_12 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_12 td.layout {
  padding: 0px 0px 10px 0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_12 .verticalalign {
  vertical-align: bottom;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_12 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_12 {
  width: 20.0%;
  height: 100.0%;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_12 .Cell_12 > *:last-child {
  margin-bottom: 0;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_12 .Cell_12 > * {
  margin-bottom: 7px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Path_21 {
  width: 32.0px;
  height: 25.600000381469727px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Text_6 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Text_6 span {
  color: #DCE2F2;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Text_6 span#rtr-mi-80433c78-Text_6_0 {
  color: #DCE2F2;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_13 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_13 td.layout {
  padding: 0px 10px 10px 0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_13 .verticalalign {
  vertical-align: bottom;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_13 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_13 {
  width: 20.0%;
  height: 100.0%;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_13 .Cell_13 > *:last-child {
  margin-bottom: 0;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Cell_13 .Cell_13 > * {
  margin-bottom: 7px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Path_22 {
  width: 31.999996185302734px;
  height: 31.999378204345703px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Text_7 {
  width: 72.177490234375px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Text_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Text_7 span {
  color: #DCE2F2;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Text_7 span#rtr-mi-80433c78-Text_7_0 {
  color: #DCE2F2;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 14px;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Hotspot_2 {
  position: absolute;
  width: 62.0px;
  height: 54.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Hotspot_3 {
  position: absolute;
  width: 45.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Hotspot_5 {
  position: absolute;
  width: 65.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Hotspot_4 {
  position: absolute;
  width: 71.0px;
  height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 #mi-80433c78-Hotspot_6 {
  position: absolute;
  width: 35.0px;
  height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f14b54a2-cf67-48f0-821a-da7ba7f5b488 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}