#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 > #backgroundBox {
  position: absolute;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Rectangle_3 {
  position: absolute;
  width: 375.0px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #F3F3F7;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Rectangle_3 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Image_1 {
  position: absolute;
  width: 375.0px;
  height: 791.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Path_10 {
  position: absolute;
  width: 288.2744140625px;
  height: 2.0px;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Rectangle_4 {
  position: absolute;
  width: 341.9999999999999px;
  min-height: 43.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Paragraph_3 {
  position: absolute;
  width: 230.47999999999985px;
  min-height: 25.999999999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Input_1.checked > .backgroundLayer {
  background-image: url('../../../images/490c50ab-6e71-4e3b-b440-5d29bc7cf378.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Input_1.unchecked > .backgroundLayer {
  background-image: url('../../../images/b873b692-23a8-4e8c-af1f-bc82e192e8aa.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Input_1 {
  position: absolute;
  width: 51.2383177570095px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Path_12 {
  position: absolute;
  width: 288.2744140625px;
  height: 2.0px;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Path_7 {
  position: absolute;
  width: 29.0px;
  height: 29.0px;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Path_6 {
  position: absolute;
  width: 27.999996185302734px;
  height: 27.999996185302734px;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Mask_1 {
  position: absolute;
  width: 29.999996185302734px;
  height: 29.999996185302734px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Rectangle_1 {
  position: absolute;
  width: 375.0px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #F3F3F7;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Rectangle_1 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Text_1 {
  position: absolute;
  width: 36.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Helvetica',Arial;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-weight: 400;
  text-transform: none;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-weight: 400;
  text-transform: none;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Text_1 span#rtr-s-Text_1_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-weight: 400;
  text-transform: none;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Path_1 {
  position: absolute;
  width: 23.0px;
  height: 12.333333015441895px;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Path_2 {
  position: absolute;
  width: 1.3280372619628906px;
  height: 4.0px;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Path_3 {
  position: absolute;
  width: 17.0px;
  height: 6.333333969116211px;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Path_4 {
  position: absolute;
  width: 15.272381782531738px;
  height: 10.965571403503418px;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Path_5 {
  position: absolute;
  width: 17.0px;
  height: 10.666667938232422px;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 #s-Hotspot_1 {
  position: absolute;
  width: 65.0px;
  height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c4d38f79-5237-44b6-a41d-20e5b1d180c4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}