#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #backgroundBox {
  position: absolute;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  position: absolute;
  width: 149.8863525390625px;
  height: 111.34414760044643px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_7 span {
  color: #68C4E3;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #68C4E3;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Hotspot_1 {
  position: absolute;
  width: 65.01000213623036px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 {
  position: absolute;
  width: 298.0px;
  min-height: 212.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(2.82842712474619px 2.8284271247461903px 5px #D7D7D7);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 {
  position: absolute;
  width: 268.9999999999998px;
  min-height: 53.318218298555166px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #E39661;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_4 {
  position: absolute;
  width: 99.49200057983404px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_21.0.0_google',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Hotspot {
  position: absolute;
  width: 272.5051498413085px;
  height: 60.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Mask_1 {
  position: absolute;
  width: 181.0px;
  height: 181.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_5 span {
  color: #6C6C6C;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_4 {
  position: absolute;
  width: 375.0px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_4 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 {
  position: absolute;
  width: 36.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Helvetica',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 span#rtr-s-Paragraph_2_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_1 {
  position: absolute;
  width: 23.0px;
  height: 12.333333015441895px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_5 {
  position: absolute;
  width: 1.3280372619628906px;
  height: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_7 {
  position: absolute;
  width: 17.0px;
  height: 6.333333969116211px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_8 {
  position: absolute;
  width: 15.272381782531738px;
  height: 10.965571403503418px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_10 {
  position: absolute;
  width: 17.0px;
  height: 10.666667938232422px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}