#m-8609d76a-153c-4949-88d6-b6e76befd5fe.master {
  transform: translate(0px,0px);
}
#m-8609d76a-153c-4949-88d6-b6e76befd5fe #Rectangle_1 {
  position: absolute;
  width: 332.5px;
  min-height: 41.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#m-8609d76a-153c-4949-88d6-b6e76befd5fe #Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#m-8609d76a-153c-4949-88d6-b6e76befd5fe #Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #DCE2F2;
}
#m-8609d76a-153c-4949-88d6-b6e76befd5fe #Rectangle_1 > .borderLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#m-8609d76a-153c-4949-88d6-b6e76befd5fe #Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#m-8609d76a-153c-4949-88d6-b6e76befd5fe #Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-8609d76a-153c-4949-88d6-b6e76befd5fe #Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-8609d76a-153c-4949-88d6-b6e76befd5fe #Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#m-8609d76a-153c-4949-88d6-b6e76befd5fe #Rectangle_1 span#rtr-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#m-8609d76a-153c-4949-88d6-b6e76befd5fe #Input_17 input::-webkit-input-placeholder {
  color: #AEAEB2;
}
#m-8609d76a-153c-4949-88d6-b6e76befd5fe #Input_17 input::-moz-placeholder {
  color: #AEAEB2;
}
#m-8609d76a-153c-4949-88d6-b6e76befd5fe #Input_17 input:-moz-placeholder {
  color: #AEAEB2;
}
#m-8609d76a-153c-4949-88d6-b6e76befd5fe #Input_17 input:-ms-input-placeholder {
  color: #AEAEB2;
}
#m-8609d76a-153c-4949-88d6-b6e76befd5fe #Input_17 {
  position: absolute;
  width: 297.5px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#m-8609d76a-153c-4949-88d6-b6e76befd5fe #Input_17 .valign {
  vertical-align: middle;
}
#m-8609d76a-153c-4949-88d6-b6e76befd5fe #Input_17 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#m-8609d76a-153c-4949-88d6-b6e76befd5fe #Input_17 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#m-8609d76a-153c-4949-88d6-b6e76befd5fe #Input_17 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-8609d76a-153c-4949-88d6-b6e76befd5fe #Input_17 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #E5E5EA;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #E5E5EA;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5EA;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #E5E5EA;
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#m-8609d76a-153c-4949-88d6-b6e76befd5fe #Input_17 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#m-8609d76a-153c-4949-88d6-b6e76befd5fe #Input_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#m-8609d76a-153c-4949-88d6-b6e76befd5fe #Path_17 {
  position: absolute;
  width: 19.999984741210938px;
  height: 20.000030517578125px;
}
#m-8609d76a-153c-4949-88d6-b6e76befd5fe #Subtraction_5 {
  position: absolute;
  width: 18.00006103515625px;
  height: 17.99981689453125px;
  cursor: pointer;
}
.m-8609d76a-153c-4949-88d6-b6e76befd5fe #Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-8609d76a-153c-4949-88d6-b6e76befd5fe #Subtraction_5 {
  position: absolute;
  width: 18.00006103515625px;
  height: 17.99981689453125px;
  cursor: pointer;
}
.m-8609d76a-153c-4949-88d6-b6e76befd5fe #Input_17 input:-moz-placeholder {
  color: #AEAEB2;
}
.m-8609d76a-153c-4949-88d6-b6e76befd5fe #Input_17 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-8609d76a-153c-4949-88d6-b6e76befd5fe #Input_17 input:-ms-input-placeholder {
  color: #AEAEB2;
}
.m-8609d76a-153c-4949-88d6-b6e76befd5fe #Input_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 10px;
}
.m-8609d76a-153c-4949-88d6-b6e76befd5fe #Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
.m-8609d76a-153c-4949-88d6-b6e76befd5fe #Path_17 {
  position: absolute;
  width: 19.999984741210938px;
  height: 20.000030517578125px;
}
.m-8609d76a-153c-4949-88d6-b6e76befd5fe #Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #DCE2F2;
}
.m-8609d76a-153c-4949-88d6-b6e76befd5fe #Input_17 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
.m-8609d76a-153c-4949-88d6-b6e76befd5fe #Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
.m-8609d76a-153c-4949-88d6-b6e76befd5fe #Input_17 input::-moz-placeholder {
  color: #AEAEB2;
}
.m-8609d76a-153c-4949-88d6-b6e76befd5fe #Input_17 .valign {
  vertical-align: middle;
}
.m-8609d76a-153c-4949-88d6-b6e76befd5fe.master {
  transform: translate(0px,0px);
}
.m-8609d76a-153c-4949-88d6-b6e76befd5fe #Input_17 input::-webkit-input-placeholder {
  color: #AEAEB2;
}
.m-8609d76a-153c-4949-88d6-b6e76befd5fe #Rectangle_1 > .borderLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
.m-8609d76a-153c-4949-88d6-b6e76befd5fe #Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
.m-8609d76a-153c-4949-88d6-b6e76befd5fe #Input_17 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #E5E5EA;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #E5E5EA;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5EA;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #E5E5EA;
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
.m-8609d76a-153c-4949-88d6-b6e76befd5fe #Rectangle_1 {
  position: absolute;
  width: 332.5px;
  min-height: 41.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
.m-8609d76a-153c-4949-88d6-b6e76befd5fe #Rectangle_1 span#rtr-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
.m-8609d76a-153c-4949-88d6-b6e76befd5fe #Input_17 {
  position: absolute;
  width: 297.5px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.m-8609d76a-153c-4949-88d6-b6e76befd5fe #Input_17 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#loadMark-m-8609d76a-153c-4949-88d6-b6e76befd5fe {
  width: 1px;
  visibility: hidden;
  display: none;
}
#m-8609d76a-153c-4949-88d6-b6e76befd5fe.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}