#s-b16eea7b-9a16-463b-97d7-f04f16e745c4 > #backgroundBox {
  position: absolute;
}
#s-b16eea7b-9a16-463b-97d7-f04f16e745c4 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-b16eea7b-9a16-463b-97d7-f04f16e745c4 #s-Image_1 {
  position: absolute;
  width: 375.0px;
  height: 811.5384615384617px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b16eea7b-9a16-463b-97d7-f04f16e745c4 #s-Hotspot_1 {
  position: absolute;
  width: 77.0px;
  height: 76.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b16eea7b-9a16-463b-97d7-f04f16e745c4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}