#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 > #backgroundBox {
  position: absolute;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Paragraph_1 span {
  color: #304F8C;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #304F8C;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Rectangle_2 {
  position: absolute;
  width: 291.0000000000001px;
  min-height: 53.31821829855505px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #E39661;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Paragraph_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Hotspot {
  position: absolute;
  width: 291.0000000000001px;
  height: 60.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Paragraph_5 {
  position: absolute;
  width: 217.0px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: center;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Paragraph_5 span {
  color: #503926;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #503926;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Input input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Input input::-moz-placeholder {
  color: #B4B4B4;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Input input:-moz-placeholder {
  color: #B4B4B4;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Input input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Input {
  position: absolute;
  width: 291.0px;
  height: 54.99999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Input .valign {
  vertical-align: middle;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Input input {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Input > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Input > .borderLayer {
  border-top-width: 1.3px;
  border-top-style: solid;
  border-top-color: #304F8C;
  border-right-width: 1.3px;
  border-right-style: solid;
  border-right-color: #304F8C;
  border-bottom-width: 1.3px;
  border-bottom-style: solid;
  border-bottom-color: #304F8C;
  border-left-width: 1.3px;
  border-left-style: solid;
  border-left-color: #304F8C;
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Input > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Input .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Input_1 {
  position: absolute;
  width: 291.0px;
  height: 54.99999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Input_1 input {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Input_1 > .borderLayer {
  border-top-width: 1.3px;
  border-top-style: solid;
  border-top-color: #304F8C;
  border-right-width: 1.3px;
  border-right-style: solid;
  border-right-color: #304F8C;
  border-bottom-width: 1.3px;
  border-bottom-style: solid;
  border-bottom-color: #304F8C;
  border-left-width: 1.3px;
  border-left-style: solid;
  border-left-color: #304F8C;
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Union_1 {
  position: absolute;
  width: 22.001602172851562px;
  height: 16.501312255859375px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #shapewrapper-s-Ellipse_7 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #shapewrapper-s-Ellipse_7 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #shapewrapper-s-Ellipse_7 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Ellipse_7 {
  width: 118.0px;
  height: 118.0px;
  min-height: 118.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #shapewrapper-s-Ellipse_7 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #shapewrapper-s-Ellipse_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Path_17 {
  position: absolute;
  width: 55.6810302734375px;
  height: 31.751800537109375px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Path_18 {
  position: absolute;
  width: 10.57757568359375px;
  height: 10.577316284179688px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Path_2 {
  position: absolute;
  width: 18.600080490112305px;
  height: 46.400001525878906px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Path_3 {
  position: absolute;
  width: 18.65999984741211px;
  height: 46.40999984741211px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Path_4 {
  position: absolute;
  width: 21.12000274658203px;
  height: 45.22999954223633px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Path_6 {
  position: absolute;
  width: 21.110000610351562px;
  height: 45.22999954223633px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Path_9 {
  position: absolute;
  width: 16.20000457763672px;
  height: 45.25px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Path_11 {
  position: absolute;
  width: 16.199996948242188px;
  height: 45.25px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Path_12 {
  position: absolute;
  width: 30.739999771118164px;
  height: 45.22999954223633px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Path_13 {
  position: absolute;
  width: 16.200000762939453px;
  height: 45.249996185302734px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Path_14 {
  position: absolute;
  width: 6.090000152587891px;
  height: 45.22999954223633px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Path_15 {
  position: absolute;
  width: 18.599998474121094px;
  height: 46.410003662109375px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Path_16 {
  position: absolute;
  width: 19.840003967285156px;
  height: 45.22999954223633px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Path_19 {
  position: absolute;
  width: 16.20000457763672px;
  height: 45.249996185302734px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Path_20 {
  position: absolute;
  width: 20.569992065429688px;
  height: 45.22999954223633px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Mask_1 {
  position: absolute;
  width: 181.0px;
  height: 181.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Rectangle_4 {
  position: absolute;
  width: 375.0px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Rectangle_4 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Paragraph_3 {
  position: absolute;
  width: 36.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Helvetica',Arial;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-weight: 400;
  text-transform: none;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-weight: 400;
  text-transform: none;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Paragraph_3 span#rtr-s-Paragraph_3_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-weight: 400;
  text-transform: none;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Path_1 {
  position: absolute;
  width: 23.0px;
  height: 12.333333015441895px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Path_5 {
  position: absolute;
  width: 1.3280372619628906px;
  height: 4.0px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Path_7 {
  position: absolute;
  width: 17.0px;
  height: 6.333333969116211px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Path_8 {
  position: absolute;
  width: 15.272381782531738px;
  height: 10.965571403503418px;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 #s-Path_10 {
  position: absolute;
  width: 17.0px;
  height: 10.666667938232422px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a73e3fd4-1e7b-4c24-9e41-399a02857927 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}