#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d > #backgroundBox {
  position: absolute;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Dynamic_panel_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Panel_3 {
  width: 373.55511474609375px;
  height: 228.38218460080168px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Image_1 {
  position: absolute;
  width: 174.99999999999977px;
  height: 175.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Mask_5 {
  position: absolute;
  width: 191.0px;
  height: 196.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Paragraph_2 {
  position: absolute;
  width: 134.21513366699287px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_50 {
  position: absolute;
  width: 15.831740379333496px;
  height: 18.043970108032227px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Hotspot_7 {
  position: absolute;
  width: 190.0px;
  height: 190.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Mask_6 {
  position: absolute;
  width: 152.0px;
  height: 156.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Mask_7 {
  position: absolute;
  width: 152.0px;
  height: 156.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_39 {
  position: absolute;
  width: 9.083648681640625px;
  height: 14.916168212890625px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_38 {
  position: absolute;
  width: 30.285715103149414px;
  height: 26.5px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_82 {
  position: absolute;
  width: 31.999996185302734px;
  height: 31.999378204345703px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 28px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_11 span#rtr-s-Text_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 28px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_33 {
  position: absolute;
  width: 351.0003662109375px;
  height: 2.0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Dynamic_panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Panel_2 {
  width: 353.04429626464844px;
  height: 154.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: auto;
  overflow-y: hidden;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Mask_4 {
  position: absolute;
  width: 127.0px;
  height: 109.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_20 {
  position: absolute;
  width: 120.36296844482422px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_20 span#rtr-s-Text_20_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_13 {
  position: absolute;
  width: 21.5331423158174px;
  min-height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_13 span#rtr-s-Text_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_11 {
  position: absolute;
  width: 21.0px;
  height: 19.354568481445312px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Mask_3 {
  position: absolute;
  width: 127.0px;
  height: 109.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_19 {
  position: absolute;
  width: 120.36296844482422px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_19 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_19 span#rtr-s-Text_19_0 {
  color: #304F8C;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_12 {
  position: absolute;
  width: 21.5331423158174px;
  min-height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_21.0.0_google',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_12 span {
  color: #503926;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_12 span#rtr-s-Text_12_0 {
  color: #503926;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_6 {
  position: absolute;
  width: 24.02680206298828px;
  height: 18.0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Hotspot_8 {
  position: absolute;
  width: 125.0px;
  height: 105.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Mask_2 {
  position: absolute;
  width: 127.0px;
  height: 109.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_8 {
  position: absolute;
  width: 120.36296844482422px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_8 span#rtr-s-Text_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_7 {
  position: absolute;
  width: 62.80678513803923px;
  min-height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_7 span#rtr-s-Text_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_42 {
  position: absolute;
  width: 17.5px;
  height: 20.0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_35 {
  position: absolute;
  width: 9.083648681640625px;
  height: 14.916168212890625px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_9 {
  position: absolute;
  width: 89.97660827636776px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 28px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_9 span#rtr-s-Text_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 28px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_36 {
  position: absolute;
  width: 39.0px;
  height: 31.200000762939453px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_1 {
  position: absolute;
  width: 192.9999999999999px;
  min-height: 30.600000000000307px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_21.0.0_google',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_13 {
  position: absolute;
  width: 14.749283790588379px;
  height: 20.0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_12 {
  position: absolute;
  width: 350.5px;
  height: 2.0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_3 {
  position: absolute;
  width: 60.0px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_3 span {
  color: #304F8C;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_3 span#rtr-s-Text_3_0 {
  color: #304F8C;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_5 {
  position: absolute;
  width: 60.0px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 30.0px;
  border-top-right-radius: 30.0px;
  border-bottom-right-radius: 30.0px;
  border-bottom-left-radius: 30.0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #304F8C;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_5 > .borderLayer {
  border-top-left-radius: 30.0px;
  border-top-right-radius: 30.0px;
  border-bottom-right-radius: 30.0px;
  border-bottom-left-radius: 30.0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 30.0px;
  border-top-right-radius: 30.0px;
  border-bottom-right-radius: 30.0px;
  border-bottom-left-radius: 30.0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 19px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 19px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_30 {
  position: absolute;
  width: 40.146995544433594px;
  height: 40.0927734375px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_4 {
  position: absolute;
  width: 96.0px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_4 span#rtr-s-Text_4_0 {
  color: #304F8C;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_6 {
  position: absolute;
  width: 60.0px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 30.0px;
  border-top-right-radius: 30.0px;
  border-bottom-right-radius: 30.0px;
  border-bottom-left-radius: 30.0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #304F8C;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_6 > .borderLayer {
  border-top-left-radius: 30.0px;
  border-top-right-radius: 30.0px;
  border-bottom-right-radius: 30.0px;
  border-bottom-left-radius: 30.0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 30.0px;
  border-top-right-radius: 30.0px;
  border-bottom-right-radius: 30.0px;
  border-bottom-left-radius: 30.0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_31 {
  position: absolute;
  width: 40.01039505004883px;
  height: 40.0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_7 {
  position: absolute;
  width: 60.0px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 30.0px;
  border-top-right-radius: 30.0px;
  border-bottom-right-radius: 30.0px;
  border-bottom-left-radius: 30.0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #304F8C;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_7 > .borderLayer {
  border-top-left-radius: 30.0px;
  border-top-right-radius: 30.0px;
  border-bottom-right-radius: 30.0px;
  border-bottom-left-radius: 30.0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 30.0px;
  border-top-right-radius: 30.0px;
  border-bottom-right-radius: 30.0px;
  border-bottom-left-radius: 30.0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_18 {
  position: absolute;
  width: 36.608001708984375px;
  min-height: 56.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_18 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 22.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 36px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_18 span#rtr-s-Text_18_0 {
  color: #DCE2F2;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 22.5pt;
  font-weight: 900;
  text-transform: none;
  line-height: 36px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_5 {
  position: absolute;
  width: 64.0px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_5 span {
  color: #503926;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 20px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_5 span#rtr-s-Text_5_0 {
  color: #503926;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 20px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_32 {
  position: absolute;
  width: 21.950439453125px;
  height: 52.672576904296875px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_8 {
  position: absolute;
  width: 60.0px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 30.0px;
  border-top-right-radius: 30.0px;
  border-bottom-right-radius: 30.0px;
  border-bottom-left-radius: 30.0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #304F8C;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_8 > .borderLayer {
  border-top-left-radius: 30.0px;
  border-top-right-radius: 30.0px;
  border-bottom-right-radius: 30.0px;
  border-bottom-left-radius: 30.0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 30.0px;
  border-top-right-radius: 30.0px;
  border-bottom-right-radius: 30.0px;
  border-bottom-left-radius: 30.0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_6 {
  position: absolute;
  width: 63.0px;
  min-height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_6 span#rtr-s-Text_6_0 {
  color: #503926;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_29 {
  position: absolute;
  width: 46.01629638671875px;
  height: 47.301483154296875px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_14 {
  position: absolute;
  width: 9.083648681640625px;
  height: 14.9161376953125px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 28px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_2 span#rtr-s-Text_2_0 {
  color: #304F8C;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 28px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_28 {
  position: absolute;
  width: 33.7138671875px;
  height: 36.9525146484375px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_15 {
  position: absolute;
  width: 374.55511474609375px;
  height: 2.0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_4 {
  position: absolute;
  width: 375.0px;
  min-height: 181.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #503926;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_4 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_10 {
  position: absolute;
  width: 324.0527343749999px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_10 span#rtr-s-Text_10_0 {
  color: #DCE2F2;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_10 span#rtr-s-Text_10_1 {
  color: #DCE2F2;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_10 span#rtr-s-Text_10_2 {
  color: #DCE2F2;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_10 span#rtr-s-Text_10_3 {
  color: #DCE2F2;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Hotspot_5 {
  position: absolute;
  width: 101.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Hotspot_6 {
  position: absolute;
  width: 125.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Paragraph_9 {
  position: absolute;
  width: 145.0px;
  min-height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Paragraph_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Paragraph_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #DCE2F2;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Paragraph_8 {
  position: absolute;
  width: 158.99999999999977px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Paragraph_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 28px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #F6FAF9;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 28px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #shapewrapper-s-Ellipse_4 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #shapewrapper-s-Ellipse_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Ellipse_4 {
  width: 50.0px;
  height: 50.0px;
  min-height: 50.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #shapewrapper-s-Ellipse_4 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #shapewrapper-s-Ellipse_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Mask_1 {
  position: absolute;
  width: 52.0000114440918px;
  height: 52.000003814697266px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #shapewrapper-s-Ellipse_8 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #shapewrapper-s-Ellipse_8 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #shapewrapper-s-Ellipse_8 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Ellipse_8 {
  width: 15.0px;
  height: 15.0px;
  min-height: 15.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #shapewrapper-s-Ellipse_8 > .backgroundLayer > .colorLayer {
  background-color: #E39661;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #shapewrapper-s-Ellipse_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #shapewrapper-s-Ellipse_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #shapewrapper-s-Ellipse_8 span#rtr-s-Ellipse_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Hotspot_3 {
  position: absolute;
  width: 50.0px;
  height: 49.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_2 {
  position: absolute;
  width: 20.403182983398438px;
  height: 21.0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_3 {
  position: absolute;
  width: 21.0px;
  height: 20.905517578125px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_41 {
  position: absolute;
  width: 13.055670738220215px;
  height: 18.974977493286133px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_47 {
  position: absolute;
  width: 9.000070571899414px;
  height: 9.031373977661133px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_46 {
  position: absolute;
  width: 19.000171661376953px;
  height: 19.076194763183594px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_45 {
  position: absolute;
  width: 28.000259399414062px;
  height: 28.116535186767578px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_49 {
  position: absolute;
  width: 4.000040054321289px;
  height: 4.0179290771484375px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_48 {
  position: absolute;
  width: 4.000040054321289px;
  height: 4.0179290771484375px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_40 {
  position: absolute;
  width: 13.055670738220215px;
  height: 18.974977493286133px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_51 {
  position: absolute;
  width: 9.000070571899414px;
  height: 9.031373977661133px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_52 {
  position: absolute;
  width: 19.000171661376953px;
  height: 19.076194763183594px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_53 {
  position: absolute;
  width: 28.000259399414062px;
  height: 28.116535186767578px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_54 {
  position: absolute;
  width: 4.000040054321289px;
  height: 4.0179290771484375px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_55 {
  position: absolute;
  width: 4.000040054321289px;
  height: 4.0179290771484375px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Hotspot_2 {
  position: absolute;
  width: 27.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Union_5 {
  position: absolute;
  width: 23.5px;
  height: 18.6722412109375px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Hotspot_4 {
  position: absolute;
  width: 29.0px;
  height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Paragraph_3 {
  position: absolute;
  width: 36.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Helvetica',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Paragraph_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-weight: 400;
  text-transform: none;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-weight: 400;
  text-transform: none;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_1 {
  position: absolute;
  width: 23.0px;
  height: 12.333333015441895px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_5 {
  position: absolute;
  width: 1.3280372619628906px;
  height: 4.0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_7 {
  position: absolute;
  width: 17.0px;
  height: 6.333333969116211px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_8 {
  position: absolute;
  width: 15.272381782531738px;
  height: 10.965571403503418px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_10 {
  position: absolute;
  width: 17.0px;
  height: 10.666667938232422px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_9 {
  position: absolute;
  width: 375.0px;
  min-height: 538.9999999999995px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 40.0px;
  border-top-right-radius: 40.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #DCE2F2;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_9 > .borderLayer {
  border-top-left-radius: 40.0px;
  border-top-right-radius: 40.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 40.0px;
  border-top-right-radius: 40.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_14 {
  position: absolute;
  width: 303.6075668334963px;
  min-height: 120.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_14 span {
  color: #503926;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_14 span#rtr-s-Text_14_0 {
  color: #503926;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_15 {
  position: absolute;
  width: 229.99999999999977px;
  min-height: 72.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_15 span {
  color: #304F8C;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 28px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_15 span#rtr-s-Text_15_0 {
  color: #304F8C;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 28px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Path_56 {
  position: absolute;
  width: 35.999996185302734px;
  height: 35.85992431640625px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Line_1 {
  position: absolute;
  width: 42.88671875px;
  height: 46.165283203125px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_16 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_21.0.0_google',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_16 .valign {
  vertical-align: top;
  text-align: center;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_16 span {
  color: #503926;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_16 span#rtr-s-Text_16_0 {
  color: #503926;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_10 {
  position: absolute;
  width: 291.0000000000001px;
  min-height: 53.31821829855505px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_10 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #E39661;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_10 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_10 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_17 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Inter_13.0.0_google',Arial;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_17 span {
  color: #F6FAF9;
  text-align: left;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 28px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Text_17 span#rtr-s-Text_17_0 {
  color: #F6FAF9;
  text-decoration: none;
  font-family: 'Inter_13.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
  line-height: 28px;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d #s-Hotspot_1 {
  position: absolute;
  width: 291.0000000000001px;
  height: 60.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-9cb4220e-979b-4a38-9417-9c0d6e130d9d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}